<!doctype html>
<html>

<head>
    {% block title %}
    {% endblock title %}
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Main page</a>

            {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'category_list' %}">Categories</a>
            <a href="{% url 'account_list' %}">Accounts</a>
            <a href="{% url 'create_category' %}">Create Category</a>
            <a href="{% url 'create_account' %}">Create Account</a>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>
